<div class="jumbotron jumbotron-fluid">

</div>

<div class="container flinders-fac-message">
  <h2>Flinders Academic Commons</h2>
  <p>
    Administered by Flinders University Library,
    the Flinders Academic Commons (FAC) is Flinders University’s former
    institutional repository. It is now closed to user submissions, except for DOI provisioning. ResearchNow
    is the current repository for Flinders University’s research outputs.
    Flinders University Research Data repository is available via <a href="https://open.flinders.edu.au/">ROADS</a> (Repository of Open Access DataSets).
    For submission queries or issues, please contact <a href="mailto:dspace@flinders.edu.au.">dspace@flinders.edu.au</a>
  </p>
</div>
