<h2>{{ 'info.end-user-agreement.head' | translate }}</h2>
<p><strong><em>Flinders Academic Commons (FAC) Terms of Use</em></strong></p>
<p>Users of the FAC platform may view and download and/or print a copy of the research publications contained within FAC
  for their own personal research or study purposes only. </p>

<p>No further copying, distribution, or adaptation is permitted without permission from the copyright owner of the
  publication (specified in the “Rights Holder” section of each publication item). </p>

<p>If the item carries a Creative Commons licence, you can only reuse the publication in compliance with the terms of
  that licence and you are not allowed to reuse the publication for commercial purposes unless permitted to do so under
  the terms of that licence.</p>

<p>For queries regarding copyright, contact <a href="mailto:copyright@flinders.edu.au">copyright@flinders.edu.au.</a>
</p>
