<h2>{{ 'info.end-user-agreement.head' | translate }}</h2>
<p><strong>[DRAFT]</strong> Flinders Academic Commons (FAC) was created so that users may access research outputs of
  Flinders University.</p>

<p>Copyright and other rights in the items held in FAC are retained by the individual authors, the University, or other
  third parties.
  The extent of the rights reserved and the identity of the parties retaining those rights will vary on an item-by-item
  basis.</p>

<p>Users are required to comply with the permissions notice that applies to each item in FAC.
  Unless otherwise indicated in the relevant permissions notice on the item record, users may download and/or print one
  copy of any item in FAC to facilitate their private study or research for non-commercial purposes.</p>

<p> Whilst items held in FAC may be subject to multiple intellectual property rights, depositors only license the
  copyright through FAC, and no licence under any patents, design rights, trade marks or any other right that may exist
  in relation to such items is granted or implied. Some items in FAC are distributed under Creative Commons or other
  licences which may allow for further commercial or non-commercial use. Subject to such licences, users may not use
  material obtained from FAC for any profit-making activities or any commercial gain.</p>

<p>You may freely distribute the FAC URL (https://dspace.flinders.edu.au) but if you wish to link to any item in FAC you
  must do so through the item record page.</p>

<p>These terms are governed by Australian law, and the Federal Court of Australia has exclusive jurisdiction in relation
  to them.</p>
