<div class="container">
  <p>Flinders University has a firm commitment to privacy in accordance with the Australia Privacy Act (cth) including
    the Australian Privacy Principles (APP’s) defined by the <a target="_blank" href="https://www.oaic.gov.au/"
                                                                title="Office of the Australian Information Commissioner">Office
      of the Australian Information Commissioner</a>. This statement discloses our information gathering and
    dissemination practices for this site.</p>
  <p>If you are submitting personal details, credit card numbers, or other information over the internet which you wish
    to remain private, please note that, while all attempts are made to secure information transmitted to this site,
    there is a possibility that information you submit could be observed by a third party while in transit.</p>
  <h2>Information logged</h2>
  <p>When you visit this site, our server logs may automatically log some or all of the following information:</p>
  <ul>
    <li>the type of browser and operating system you are using</li>
    <li>your top level domain name (for example .com, .gov, .au, .uk etc)</li>
    <li>the address of the referring site (for example, the previous site that you visited)</li>
    <li>your server's IP address (a number which is unique to the machine through which you are connected to the
      Internet: usually one of your service provider's machines)
    </li>
    <li>your computer's geographic location</li>
    <li>the date and time of your visit</li>
    <li>the address of the pages accessed and documents downloaded.<br>
    </li>
  </ul>
  <p>This information is collected, used and disclosed,&nbsp;including for future marketing purposes, in accordance with
    our <a
      href="https://www.flinders.edu.au/content/dam/documents/staff/policies/facilities-info-management/privacy-policy.pdf"
      title="Privacy Policy">Privacy Policy</a>.<br>
  </p>
  <h2>Email addresses</h2>
  <p>Our online forms may require you to provide contact details, your email address and other personal information.
    This personal information may be collected, used and disclosed by the University for the purposes of processing
    &nbsp;and responding &nbsp;to your requests, conducting the business of the University, and direct marketing the
    University’s services to you, in accordance with the <a
      href="https://www.flinders.edu.au/content/dam/documents/staff/policies/facilities-info-management/privacy-policy.pdf"
      target="_blank" title="Privacy Policy">University's Privacy Policy</a>.</p>
  <h2>Subscriptions</h2>
  <p>Some pages of this internet site provide the facility for users to subscribe to email mailing lists. To subscribe
    to these services users must provide a valid email address.</p>
  <p>These email addresses will only be used for the purpose for which you have provided it and you will not be added to
    any other mailing lists unless you specifically request that this be done.</p>
  <p>Email mailing list addresses are stored on a separate server and can only be accessed by authorised Flinders
    University staff. Your email address will not be disclosed without your consent.</p>
  <h2>Storage and protection &nbsp;</h2>
  <p>The University uses digital data storage providers located both inside Australia and overseas and has agreements
    with its storage providers to ensure the protection of Personal Information they store. Arrangements with these
    providers are reviewed and assessed periodically. In addition to storing data in Australia, the University also
    stores Personal Information with providers located in the following countries:</p>
  <ul>
    <li>United States</li>
    <li>Canada</li>
    <li>Singapore</li>
    <li>United Kingdom (and European Union)</li>
  </ul>
  <h2>Cookies</h2>
  <p>The University’s website automatically collects personal informaton when you are browsing or using it. The various
    mechanisms used to collect this information include pixels, server logs, proxy logs and cookies.</p>
  <p>A cookie is a piece of information that our web server sends to your computer when you visit our website. That
    cookie is stored on your computer and may provide information ( such as your IP address) to our server to optimise
    your experience when you visit our website.</p>
  <p>In addition to optimising website functionality cookies may be used by the University to track website usage
    patterns, analyse website traffic, personalise content and advertising and enable social media features. &nbsp;</p>
  <p>The University may collect and store the information provided by cookies and use it for marketing/advertising
    purposes including disclosing it to third party advertising agencies for targeted direct marketing campaigns often
    called ‘retargeting’. Retargeting occurs where Google, Facebook or another third party uses cookies from your
    computer to show advertisements when you visit websites based on your web preferences and usage patterns. If you
    have a cookie from our website stored on your computer you may see the University’s advertisements as you browse
    other sites. You may choose to opt out or disallow cookies through your web browser settings but this may alter some
    functionality otherwise available on the University’s website.</p>
  <h2>Searches</h2>
  <p>Search terms that you enter when using our search engine are collected, but are not associated with any other
    information that we collect. We use these search terms to ascertain what people are looking for at our site, and to
    improve the services that we provide.</p>
  <h2>Links to other sites</h2>
  <p>This site contains links to other sites. Flinders University is not responsible for the privacy practices or the
    content of such web sites.</p>
  <h2>Contact details</h2>
  <p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this
    site, please <a href="mailto:digitalpresence@flinders.edu.au" title="Digital Presence Services">contact us</a>.</p>
</div>
