// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

//$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
//
//$gray-700: #3c5265 !default; // Bootstrap $gray-700
//$gray-100: #e1e0e0 !default; //           $gray-100
///
//$blue: #FFD300 !default;
//$green: #146858 !default;
//$cyan: #002F60 !default;
//$yellow: #ff8600 !default;
//$red: #ff0000 !default;
//$dark: darken($blue, 25%) !default;
//
//$theme-colors: (
//  primary: $blue,
//  secondary: $gray-700,
// success: $green,
//  info: $cyan,
//  warning: $yellow,
//  danger: $red,
//  light: $gray-100,
//  dark: $dark
//) !default;

//$link-color: map-get($theme-colors, info) !default;

$gold: #FDD300;
$ochre: #DE9F46;
$eucalyptGreen: #146858;
$midnightBlue: #002F60;
$oceanBlue: #21509F;
$summerRed: #EE5524;
$sunsetPink: #F3B8CB;
$stoneGrey: #B7B7B7;
$dustyWhite: #F6EEE1;

$theme-colors: (
  primary: $gold,
  secondary: $midnightBlue,
  success: $eucalyptGreen,
  info: $oceanBlue,
  warning: $sunsetPink,
  danger: $summerRed,
  light: $dustyWhite,
  dark: $stoneGrey
) !default;

$link-color: map-get($theme-colors, info) !default;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
$font-family-sans-serif: "DM Sans" !default;
